@model MoneySplitterApi.Models.Debts

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Debts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOwed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOwed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creditor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debtor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debtor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
